.menu-container { 
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    border: white ridge 5px;
    background-color: rgba(0,0,0,0.75);
    margin: 0 auto 0 auto;
}

.menu-left { 
    display: flex;
    height: 100%;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    width: 30%;
    border-right: white ridge 5px;
}

.menu-left ul { 
    padding-left: 10px;
    margin: auto;
    text-align: center;
    list-style-type: none;
}

.menu-left ul li { 
    padding: 2px;
    font-size: 2rem;
}

.menu-left ul li:hover { 
    background-color: rgba(0,0,0,0.5);
}